DIFF_DT_CLIENT_ID=12345
DIFF_DT_CLIENT_SECRET=xxxxxxxxxxxxxxxxxxxxxxxxxxxxx
DIFF_GH_CLIENT_ID=xxxxxxxxxxxx
DIFF_GH_CLIENT_SECRET=xxxxxxxxxxxxxxxxxxxxxxxxxxxxx
DIFF_SECRET=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
DIFF_SALT=abcdefhijk012345